# Environnement virtuel
venv/

# Fichiers sensibles
.env
dreams.json

# Cache et artefacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.DS_Store

# Jupyter (au cas où un jour tu les utilises)
.ipynb_checkpoints/

# Streamlit
.streamlit/
